.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 10px;
color: aliceblue;
}

.dialogsItems .active {
  color: gold;
}

.messages {
color:azure;
}

.messages .message {
color: aliceblue;
}